.navbar-inner {-webkit-border-radius: 0!important;-moz-border-radius: 0!important;border-radius: 0!important;}
.navbar .brand {}
.mw-content-ltr .editsection, .mw-content-rtl .mw-content-ltr .editsection {
font-weight: normal;font-size: 13px;}
